fint:
  application-id: fint-flyt-discovery-service
server:
  error:
    include-message: always
  max-http-request-header-size: 40KB
spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-resource-server
      - flyt-postgres